
<h1>Express Entry Assessment</h1>
<main>
  <div>
    <%= select_tag "edu_level", options_from_collection_for_select(@edu_levels, "id", "name_of_edu_level"), prompt: "Select your level of education"%>
  </div>
<!-- <div>
  <select>
    <option>None</option>
    <option>One year</option>
    <option>Two or more</option>
  </select>
</div> -->
<div class ="language_dropdown">
    <%= select_tag :language, options_from_collection_for_select(@languages, "id", "language"), prompt: "Select your first language"%>
  <div>
     
    <select class="test_options">
    <option> Select test </option>
      <% @language_tests.each do |test| %>
        <option value="<%= test.id %>" data-lang="<%= test.language %>" class="options_eval"><%= test.test_evaluation %> </option>
      <% end %>
    </select>
  </div>
</div> 
  <div>
    <select>
      <option> Select score </option>
      <% @language_score_tiers.each do |score| %>
      <option value="<%= score.id %>" data-test="<%= @language_tests.test_evaluation%>" class="options_score"><%= score.name_score %></option>
      <% end %>
    </select>
  </div>
</main>




