
  <div>
    <select class="score_ranges_reading" id="candidate-1-score-ranges-reading-first-language">
      <option> Select reading score </option>
      <% @score_tiers[:celpip][:r].each do |score| %>
      <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score_reading"><%= score.name_score %></option>
      <% end %>
    </select>
  </div>
  <div>
    <select class="score_ranges_reading" id="candidate-1-score-ranges-reading-first-language">
      <option> Select reading score </option>
      <% @score_tiers[:celpip][:w].each do |score| %>
      <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score_reading"><%= score.name_score %></option>
      <% end %>
    </select>
  </div>
  <div>
    <select class="score_ranges_reading" id="candidate-1-score-ranges-reading-first-language">
      <option> Select reading score </option>
      <% @score_tiers[:celpip][:s].each do |score| %>
      <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score_reading"><%= score.name_score %></option>
      <% end %>
    </select>
  </div>
  <div>
    <select class="score_ranges_reading" id="candidate-1-score-ranges-reading-first-language">
      <option> Select reading score </option>
      <% @score_tiers[:celpip][:l].each do |score| %>
      <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score_reading"><%= score.name_score %></option>
      <% end %>
    </select>
  </div>
<!-- IELTS BABY -->
<div>
    <select class="score_ranges_reading" id="candidate-1-score-ranges-reading-first-language">
      <option> Select reading score </option>
      <% @score_tiers[:ielts][:r].each do |score| %>
      <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score_reading"><%= score.name_score %></option>
      <% end %>
    </select>
  </div>
  <div>
    <select class="score_ranges_reading" id="candidate-1-score-ranges-reading-first-language">
      <option> Select reading score </option>
      <% @score_tiers[:ielts][:w].each do |score| %>
      <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score_reading"><%= score.name_score %></option>
      <% end %>
    </select>
  </div>
  <div>
    <select class="score_ranges_reading" id="candidate-1-score-ranges-reading-first-language">
      <option> Select reading score </option>
      <% @score_tiers[:ielts][:s].each do |score| %>
      <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score_reading"><%= score.name_score %></option>
      <% end %>
    </select>
  </div>
  <div>
    <select class="score_ranges_reading" id="candidate-1-score-ranges-reading-first-language">
      <option> Select reading score </option>
      <% @score_tiers[:ielts][:l].each do |score| %>
      <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score_reading"><%= score.name_score %></option>
      <% end %>
    </select>
  </div>
<!-- TEFL HONEY -->
<div>
    <select class="score_ranges_reading" id="candidate-1-score-ranges-reading-first-language">
      <option> Select reading score </option>
      <% @score_tiers[:tefl][:r].each do |score| %>
      <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score_reading"><%= score.name_score %></option>
      <% end %>
    </select>
  </div>
  <div>
    <select class="score_ranges_reading" id="candidate-1-score-ranges-reading-first-language">
      <option> Select reading score </option>
      <% @score_tiers[:tefl][:w].each do |score| %>
      <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score_reading"><%= score.name_score %></option>
      <% end %>
    </select>
  </div>
  <div>
    <select class="score_ranges_reading" id="candidate-1-score-ranges-reading-first-language">
      <option> Select reading score </option>
      <% @score_tiers[:tefl][:s].each do |score| %>
      <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score_reading"><%= score.name_score %></option>
      <% end %>
    </select>
  </div>
  <div>
    <select class="score_ranges_reading" id="candidate-1-score-ranges-reading-first-language">
      <option> Select reading score </option>
      <% @score_tiers[:tefl][:l].each do |score| %>
      <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score_reading"><%= score.name_score %></option>
      <% end %>
    </select>
  </div>
