
<div class="move">
  <h3>Express Entry: Points Summary</h3>
</div>
<hr class="hr_summary">
<script type="text/javascript">
  $("h2").click(function(){
   var $h2=$('h2'), isEditable=$h2.is('.editable');
   $h2.prop('contenteditable',!isEditable).toggleClass('editable')
})  
</script>
<section id="summary_table">
  <div class= "container_summary">
    <div class= "row_summary">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="summary_start">
          <div class="summary_header">Your Assessment details</div>
          <div class="summary_list">
            <ul class="summary_ul">
              <li class="category">Age</li>
              <li><%= @candidate_age_points%></li>
              <li class="category">Education</li>
              <li><%= @candidate_edu_points %></li>
              <li class="category">Canadian Work </li>
              <li><%= @candidate_cdn_work_points %></li>
              <li class="category"> Canadian Work Experience and Education</li>
              <li><%= @candidate_adapt_cdn_work_ed %></li>
              <li class="category"> Canadian Work Experience and Foreign Work Experience</li>
              <li><%= @candidate_adapt_cdn_work_frg_work %></li>
              <li class="category"> Education and Language Level</li>
              <li><%= @candidate_adapt_ed_lang %> </li>
             <!--  <li class="title"> Category</li>
                <p class="title"> Points</p>
              <li class="first">Age</li>
                <p class="first"><%= @candidate_age_points%> </p>
              <li class="second">Education</li>
                <p class="second"><%= @candidate_edu_points %> </p> -->

              <li class="total_points">TOTAL POINTS <%= @candidate.points%></li>

            </ul>
          <%if @candidate.points > 400 %>
            <div class="eligibility"> ElIGIBLE</div>
          <%else%>
            <div class="eligibility"> INELIGIBLE</div>
          <% end %>
          </div>
          </div>
        </div>
       <div class="col-md-6 col-sm-12 col-xs-12">
         <div class="summary_start">
           <div class="summary_header">Points of improvement</div>
           <div class="summary_list">
            <ul class="summary_ul">
               <%if @candidate.points < 400 %>
              <div class="short_by">POINTS SHORT BY : <%= 400 - @candidate.points%></div>
              <li class="last"> Education: Obtain Master's Degree (ADDITIONAL 15 points)</li>
              <li class="last">Language: Obtain score of 8 or above on the CELPIP test (ADDITIONAL 11 points) </li>
              <li class="last">Please take into consideration that to complete these suggestions, your age points will decrease</li>
              
              <% end %>
            </ul>
           </div>
         </div>
       </div>
      </div>
    </div>
  </div>
</section>
