<% if @candidate && @candidate.errors.any? %>
  <div>
    <%= pluralize(@candidate.errors.count, "error") %> prevented this page from being submitted:
    <ul>
      <% @candidate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for :candidate, url:assessment_candidates_path(:assessment_id => @id), :method=>:post do |f| %> <!--url: personal_page_submit_path -->
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>  
  </div>
  <div>
    <%= f.label :middle_name %>
    <%= f.text_field :middle_name %>  
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>  
  </div>
  <div>
    <%= f.label :dob %>
    <%= f.date_select(:dob, options = {start_year: 1900}) %>  
  </div>
  <div>
    <%= select_tag :countries_id, options_from_collection_for_select(Country.all, "id", "name"), prompt: "Country of residency"%>
  </div>
  <div>
    <%= f.label :occupation %>
    <%= f.text_field :occupation %>
  </div>
    <div>
    <%= f.label :funds %>
    <span>CDN</span> $<%= f.text_field :funds %>
  </div>
  <div>
    <%= check_box_tag(:spouse) %>
    <%= label_tag(:spouse, "I am applying with my spouse / common-law") %>
  </div>
  <div>
    <%= f.label :kids %>
    <%= f.text_field :kids %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>


<main>
  <div>
    <%= select_tag "edu_level", options_from_collection_for_select(@edu_levels, "id", "name_of_edu_level"), prompt: "Select your level of education"%>
  </div>
<!-- <div>
  <select>
    <option>None</option>
    <option>One year</option>
    <option>Two or more</option>
  </select>
</div> -->

<div class ="language_dropdown">
    <%= select_tag :language, options_from_collection_for_select(@languages, "id", "language"), prompt: "Select your first language"%>
  <div>

   
       
      <select id="tests">
      <option> Select test </option>
        <% @language_tests.each do |test| %>
          <option value="<%= test.id %>" data-lang="<%= test.language %>" class="options_eval"><%= test.test_evaluation %> </option>
        <% end %>
      </select>
      <div>
   <select class="score_ranges">
     <option> Select score </option>
     <% @reading_scores.each do |score| %>
     <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score"><%= score.name_score %></option>
     <% end %>
   </select>
 </div>
 <div>
   <select class="score_ranges">
     <option> Select reading score </option>
     <% @reading_scores.each do |score| %>
     <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score"><%= score.name_score %></option>
     <% end %>
   </select>
 </div>
    </div>
    <div>
   <select class="score_ranges">
     <option> Select writing score </option>
     <% @writing_scores.each do |score| %>
     <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score"><%= score.name_score %></option>
     <% end %>
   </select>
 </div>
  </div>
  <div>
   <select class="score_ranges">
     <option> Select speaking score </option>
     <% @speaking_scores.each do |score| %>
     <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score"><%= score.name_score %></option>
     <% end %>
   </select>
 </div>
 <div>
   <select class="score_ranges">
     <option> Select listening score </option>
     <% @listening_scores.each do |score| %>
     <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score"><%= score.name_score %></option>
     <% end %>
   </select>
 </div>

  </div>

</div> 
  
