<div class="container">
  <div class="row personal-forms">
    <div class="col-md-6 left-side-form">
      <% if @candidate && @candidate.errors.any? %>
      <div>
        <%= pluralize(@candidate.errors.count, "error") %> prevented this page from being submitted:
        <ul>
          <% @candidate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= form_for :candidate, url:assessment_candidates_path(:assessments_id => @id), :method=>:post do |f| %>

      <%= f.hidden_field :assessments_id, value: @id %>
      <div>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>  
      </div>
      <div>
        <%= f.label :middle_name %>
        <%= f.text_field :middle_name %>  
      </div>
      <div>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>  
      </div>
      <div>
        <%= f.label :dob %>
        <%= f.date_select(:dob, options = {start_year: 1900}) %>  
      </div>
      <div>
        <%= f.select :country_id, options_from_collection_for_select(Country.all, "id", "name"), prompt: "Country of residency"%>
      </div>
      <div>
        <%= f.label :occupation %>
        <%= f.text_field :occupation %>
      </div>
      <div>
        <%= f.label :funds %>
        <span>CDN</span> $<%= f.text_field :funds %>
      </div>
      <!-- FORM TRIGGERED BY JAVASCRIPT SPOUSE -->
      <div class="spouse">
        <%= f.check_box(:is_married) %>
        <%= label_tag(:is_married, "I am applying with my spouse / common-law") %>
      </div>
      <!-- FORM TRIGGERED BY JAVASCRIPT SPOUSE -->
      <div>
        <%= f.label :kids %>
        <%= f.text_field :kids %>
      </div>
      <div>
        <%= f.check_box :frg_work_xp_one_or_two %>
        <%= label_tag(:frg_work_xp_one_or_two, "I have two years or less than two years of foreign work experience") %>
      </div>
      <div>
        <%= f.check_box :frg_work_xp_three_or_more%>
        <%= label_tag(:frg_work_xp_three_or_more, "I have three or more years of foreign work experience") %>
      </div>
      <div>
        <%= f.check_box :cdn_xp_none%>
        <%= label_tag(:cdn_xp_none, "I have no Canadian work experience") %>
      </div>
      <div>
        <%= f.number_field :cdn_xp_years, min: 1, max: 5 %>
        <%= label_tag(:cdn_xp_years, "Enter amount of years of Canadian work experience") %>
      </div>
      <div>
        <%= f.check_box :cdn_xp_visited %>
        <%= label_tag(:cdn_xp_visited, "I have visited Canada") %>
      </div>
      <div>
        <%= f.check_box :cdn_xp_fr_en_studies %>
        <%= label_tag(:cdn_xp_fr_en_studies, "I have studied French or English in Canada") %>
      </div>
      <div>
        <%= f.check_box :cdn_xp_ps_greater_than_one %>
        <%= label_tag(:cdn_xp_ps_greater_than_one, "I have studied post-secondary education in Canada and completed a credential of a least 1 year") %>
      </div>
      <div>
        <%= f.check_box :cdn_xp_work_greater_than_one %>
        <%= label_tag(:cdn_xp_work_greater_than_one, "I have worked full-time for more than one year in a skilled position in Canada") %>
      </div>
      <div>
        <%= f.check_box :cdn_xp_work_permit_paid %>
        <%= label_tag(:cdn_xp_work_permit_paid, "My Canadian skilled work experience was paid, gained after I completed my studies, with a Work Permit, and within the last 3 years") %>
      </div>
      <div>
        <%= f.check_box :cdn_xp_study_perm_dli %>
        <%= label_tag(:cdn_xp_study_perm_dli, "My Canadian post-secondary studies were completed with a vaild Study Permit at a Designated Learning Instition") %>
      </div>
      <div>
        <%= f.select "edu_level_id", options_from_collection_for_select(@edu_levels, "id", "name_of_edu_level"), prompt: "Select your level of education"%>
      </div>
      <div class ="language_dropdown">
        <%= f.select :language, options_from_collection_for_select(@languages, "id", "language"), prompt: "Select your first language"%>
        <div>
          <select id="tests">
            <option> Select test </option>
            <% @language_tests.each do |test| %>
            <option value="<%= test.id %>" data-lang="<%= test.language %>" class="options_eval"><%= test.test_evaluation %> </option>
            <% end %>
          </select>
        </div>
        <div>
          <select class="score_ranges_reading">
            <option> Select reading score </option>
            <% @reading_scores.each do |score| %>
            <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score_reading"><%= score.name_score %></option>
            <% end %>
          </select>
        </div>
        <div>
          <select class="score_ranges_writing">
            <option> Select writing score </option>
            <% @writing_scores.each do |score| %>
            <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score_writing"><%= score.name_score %></option>
            <% end %>
          </select>
        </div>
        <div>
          <select class="score_ranges_speaking">
            <option> Select speaking score </option>
            <% @speaking_scores.each do |score| %>
            <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score_speaking"><%= score.name_score %></option>
            <% end %>
          </select>
        </div>
        <div>
          <select class="score_ranges_listening">
            <option> Select listening score </option>
            <% @listening_scores.each do |score| %>
            <option value="<%= score.id %>" data-test="<%= score.language_test_id%>" class="options_score_listening"><%= score.name_score %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div>
        <span class="spouse-form"><button type="button">Complete form for spouse / common law</button></span>
      </div>
      <div>
        <span><%= f.submit "Submit assessment" %></span>
      </div>
      <% end %> 
    </div>

    <div class="container">
      <div class="col-md-6 graphs">
      <p>Celiac messenger bag semiotics kickstarter XOXO. Forage occupy franzen jean shorts hoodie XOXO keytar, hashtag messenger bag food truck pitchfork literally. Literally raw denim trust fund, gentrify pug tacos pork belly gochujang. Dreamcatcher whatever williamsburg four loko wolf. Banjo drinking vinegar health goth, seitan 3 wolf moon vinyl etsy. Stumptown quinoa pug put a bird on it chicharrones. Disrupt swag pour-over fixie, normcore letterpress echo park keffiyeh bitters heirloom typewriter.

      Occupy kickstarter kombucha cray pork belly. Beard gochujang heirloom squid cronut listicle. Viral tacos kombucha, fingerstache authentic echo park sustainable aesthetic beard fanny pack food truck street art. Biodiesel selfies four dollar toast fashion axe pork belly helvetica, crucifix flexitarian direct trade slow-carb austin. Hashtag artisan jean shorts bushwick XOXO, locavore kogi kitsch skateboard green juice gentrify shoreditch cliche put a bird on it. Sustainable blog venmo fingerstache quinoa keffiyeh umami, pour-over artisan. 8-bit lumbersexual distillery man braid before they sold out YOLO.

      +1 fingerstache tumblr gluten-free small batch, disrupt blue bottle typewriter meditation vinyl thundercats man braid. Put a bird on it mumblecore authentic portland, green juice next level vice truffaut hammock organic gochujang. Cliche pour-over cornhole, pug fingerstache hella cronut plaid drinking vinegar mustache trust fund gluten-free lomo poutine brooklyn. Viral banjo kogi, squid microdosing irony street art. Literally semiotics 3 wolf moon bicycle rights, chicharrones quinoa ramps pork belly. Marfa literally pork belly, twee organic whatever DIY gentrify etsy schlitz. Cliche ethical pop-up kogi, gentrify salvia umami kombucha kale chips pinterest mixtape fingerstache authentic pabst.

      Fanny pack leggings farm-to-table paleo. Street art bushwick jean shorts, thundercats farm-to-table gastropub narwhal squid forage drinking vinegar yuccie sriracha. Selfies 3 wolf moon brooklyn distillery. Helvetica neutra wolf marfa, mumblecore food truck slow-carb shabby chic mlkshk. Microdosing synth meh ethical mustache, vinyl artisan. Green juice pour-over listicle next level meh. VHS roof party microdosing, bicycle rights paleo locavore jean shorts pour-over poutine portland.</p>
  </div>
</div>

<script>
      Fort.flash("#009DFF", "#000", "#6638F0");
</script>
