<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script type="text/javascript">
    $(function () {
    $('#container').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45
            }
        },
        title: {
            text: 'Assessment Points'
        },
        subtitle: {
            text: 'Overview for each requirement'
        },
        plotOptions: {
            pie: {
                innerSize: 100,
                depth: 45
            }
        },
        series: [{
            name: 'Points',
            data: [
                ['Age', 100],
                ['First Language', 100],
                ['Second Language', 100],
                ['Foreign Experience', 100],
                ['Trade Certificate', 50],
                ['Education', 50],
                ['Canadian Work', 100]
            ]
        }]
    });
});
    </script>
<div class="container">
  <div class="row personal-forms">
    <div class="col-md-6 left-side-form">
      <% if @candidate && @candidate.errors.any? %>
      <div>
        <%= pluralize(@candidate.errors.count, "error") %> prevented this page from being submitted:
        <ul>
          <% @candidate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= form_for @assessment, url: assessment_candidates_path, method: :post do |a| %>
        <%= a.fields_for @assessment.candidates.build do |c| %> 
          <%= render "candidate", c: c %>
        <% end %>
        <%= a.fields_for @assessment.candidates.build do |c| %> 
          <!-- <div style="display: none;"> -->
            <%= render "candidate", c: c %>
          <!-- </div> -->
        <% end %>
        <div>
          <span class="spouse-form"><button type="button">Complete form for spouse / common law</button></span>
        </div>
        <div>
          <span><%= a.submit "Submit assessment" %></span>
        </div>
      <% end %> 
    </div>

    <div class="container">
      <div class="col-md-6 graphs">
      <p>
       <div id="container" style="height: 400px"></div>
    </p>
  </div>

</div>

<script>
      Fort.flash("#009DFF", "#000", "#6638F0");
</script>
