<!DOCTYPE html>
<html>
  <head>
    <title>ExpressEntry</title>
    <%= csrf_meta_tags %>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="//www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap --> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Bungee+Inline|Bungee+Shade|Diplomata|Galada|Limelight|Londrina+Shadow|Pattaya|Sansita+One|Shrikhand|Ultra" rel="stylesheet">
    
  </head>
  <body>
    <div class="main-nav">
      <div class="row">
        <div class="col-lg-12">
          <%= render 'layouts/menu' %>
          <%= yield %>
          <%= render 'layouts/footer' %>
        </div>
      </div>
    </div>
    <section id="video-block" class="fullscreen">
      <!-- Adjust video height and width -->
      <!-- Embed Video as Background-->
      <div style="width:initial;" >
        <video autoplay loop id="video-background" muted >
          <source src="/intro-video2.mp4">
        </video>
      </div>
    </section>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
